.person-links {
    text-decoration: none;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .person-links:hover {
    background-color: #3498db;
    color: #fff;
  }
  