.form-container {
    display: flex;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .button {
    margin-top: 10px;
    padding: 6px 40px; 
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color:#262626;
  }
  
  
  .form-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-section {
    flex: 1;
    margin-left: 80px;
    margin-right: 80px;
  }
   .construction-img{
    height: 30px;
    margin-bottom: 300px;
   }
  .input-box{
    margin-top: 1px;
  }

  .gender{
    margin-left: 20px;
  }

.gender-container {
  display: flex;
  align-items: center;
}

.gender-input {
  margin-right: 8px; 
}

.gender-label {
  margin-right: 16px; 
}
  
  @media (max-width: 768px) {
    .form-container-2 {
      flex-direction: column;
    }
  }
   

   
