

.text-center {
  text-align: center;
}
.signup-form {
  width:fit-content;
  margin: 25px auto;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
}
.form-control {
  display: block;
    font-size: 16px;
    padding: 10px 10px;
    margin: 20px 40px;
    width: 350px;
    border-radius:5px ;
    border: none;
    box-shadow: 0px 0px 5px 0px gray;
}

.btn {
  width: 180px;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 8px 10px;
  border-radius:5px ;
  background-color: black;
  color: white;
}
.link {
 text-decoration: none;
 margin-left: 27%;
 /* text-align: center; */
 font-size: 18px;

}